# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp

# User-specific files
.Ruserdata

# VSCode files
.vdoc.*.r

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# pkgdown site
docs/

# translation temp files
po/*~

# RStudio Connect folder
rsconnect/

#Others
m_SEM/*
!m_SEM/.gitkeep
models/*
!models/.gitkeep
figures/*
!figures/.gitkeep
checking/*
!checking/.gitkeep
mit_damage_original/*
!mit_damage_original/.gitkeep
mit_data/*
!mit_data/.gitkeep
models_controlled/*
!models_controlled/.gitkeep
.DS_Store

output/checking/mit_df.csv
output/database/clean_df.csv
output/figures/exploratory/fig_expl_mean_conpotential.png
output/database/clean_df.csv
output/figures/exploratory/fig_expl_mean_conros.png
output/figures/exploratory/fig_expl_mean_dnadamage.png
output/figures/exploratory/fig_expl_mean_mitodensity.png
output/figures/exploratory/fig_expl_mean_peroxidation.png
output/figures/exploratory/fig_expl_mean_potential.png
output/figures/exploratory/fig_expl_mean_ros.png
output/figures/exploratory/fig_hist.png
output/figures/exploratory/fig_expl_t_D.png
output/figures/exploratory/fig_qqplots.png
output/figures/suppl/Figure_S1.tiff
output/figures/suppl/Figure_S10.tiff
output/figures/suppl/Figure_S11.tiff
output/figures/suppl/Figure_S12.tiff
output/figures/suppl/Figure_S13.tiff
output/figures/suppl/Figure_S14.tiff
output/figures/suppl/Figure_S15.tiff
output/figures/suppl/Figure_S16.tiff
output/figures/suppl/Figure_S2.tiff
output/figures/suppl/Figure_S3.tiff
output/figures/suppl/Figure_S4.tiff
output/figures/suppl/Figure_S5.tiff
output/figures/suppl/Figure_S6.tiff
output/figures/suppl/Figure_S7.tiff
output/figures/suppl/Figure_S8.tiff
output/figures/suppl/Figure_S9.tiff
output/figures/suppl/Figure_SX13.tiff
output/figures/text/results_behaviour.tiff
output/figures/text/results_energy.tiff
output/figures/text/results_oxidative.tiff
output/figures/text/SEM_OB.tiff
output/figures/text/SEM_OT.tiff
output/m_SEM/m_OB.rds
output/m_SEM/m_OT.rds
output/models/mean_conpotential_def_OB.rds
output/models/mean_conpotential_def_OT.rds
output/models/mean_conpotential_prel_OB.rds
output/models/mean_conpotential_prel_OT.rds
output/models/mean_conros_def_OB.rds
output/models/mean_conros_def_OT.rds
output/models/mean_conros_prel_OB.rds
output/models/mean_conros_prel_OT.rds
output/models/mean_dnadamage_def_OB.rds
output/models/mean_dnadamage_def_OT.rds
output/models/mean_dnadamage_prel_OB.rds
output/models/mean_dnadamage_prel_OT.rds
output/models/mean_mitodensity_def_OB.rds
output/models/mean_mitodensity_def_OT.rds
output/models/mean_mitodensity_prel_OB.rds
output/models/mean_mitodensity_prel_OT.rds
output/models/mean_peroxidation_def_OB.rds
output/models/mean_peroxidation_def_OT.rds
output/models/mean_peroxidation_prel_OB.rds
output/models/mean_peroxidation_prel_OT.rds
output/models/mean_potential_def_OB.rds
output/models/mean_potential_def_OT.rds
output/models/mean_potential_prel_OB.rds
output/models/mean_potential_prel_OT.rds
output/models/mean_ros_def_OB.rds
output/models/mean_ros_def_OT.rds
output/models/mean_ros_prel_OB.rds
output/models/mean_ros_prel_OT.rds
output/models/t_D_def_Chemical.rds
output/models/t_D_def_Visual.rds
output/models/t_D_prel_Chemical.rds
output/models/t_D_prel_Visual.rds
PreyD.docx
